@import "../../styles/mixin"
@import "../../styles/variables"

.logotype-content
    position: relative
    height: 80px
    background: $white
    display: flex
    align-items: center
    justify-content: space-between
    &__title
        width: 119px
        height: 29px
        font-style: normal
        font-weight: bold
        font-size: 24px
        color: $main-color
        text-decoration: none
    &__wrapper
        min-width: 201px
        max-width: 280px
        display: flex
        justify-content: space-between
        align-items: center
        a
            display: block
            text-decoration: none
    &__products
        font-style: normal
        font-weight: 600
        font-family: Montserrat
        font-style: normal
        font-size: 14px
        letter-spacing: 0.02em
        text-transform: uppercase
        color: $second-color
        @include hover-link

.is-active
    color: $black