@import "../../../styles/mixin"
@import "../../../styles/variables"
@import "../../../styles/blocks/btn"

.products
    background: #E5E5E5
.products-wrapper
    min-height: 820px
    &__bar
        display: flex
        justify-content: space-between
        align-items: center
        padding-top: 50px
    &__title
        font-style: normal
        font-weight: bold
        font-size: 36px
        text-align: center
        color: $black 
        