@import "../../styles/mixin"
@import "../../styles/variables"
    
.create-products
    background: #F0F4FE
    min-height: 980px

.create-products-wrapper
    &__title
        font-style: normal
        font-weight: bold
        font-size: 36px
        line-height: 44px
        color: $black
        padding-top: 50px
    &__subtitle
        font-style: normal
        font-weight: bold
        font-size: 14px
        letter-spacing: 0.02em
        color: $second-color
    &__items
        padding-top: 50px 
        margin-top: 30px
        height: 532px
        background: #FFFFFF
    &__form
        display: flex
        justify-content: space-between
        margin: 0 50px
    &__input-wrapper
        height: 373px
        display: flex
        flex-direction: column
        justify-content: flex-start
    &__counter-wrapper
        margin-top: 26px
        display: flex
        align-items: center
        justify-content: flex-start
    &__btn-wrapper
        margin-top: 50px
        width: 340px
        display: flex
        justify-content: space-between
    &__form-label
        display: flex
        flex-direction: column
        font-style: normal
        font-weight: normal
        font-size: 14px
        line-height: 160%
    &_indent-top
        margin-top: 30px
    &_indent-right
        margin-right: 30px
    &__input
        padding-left: 20px
        margin-top: 12px
        width: 726px
        height: 44px
        background: #FFFFFF
        border: 1px solid #5E98FF
        box-sizing: border-box
        border-radius: 2px
    &__textarea
        padding-left: 20px
        padding-top: 2px
        margin-top: 12px
        width: 726px
        height: 88px
        outline: none
        border: 1px solid #DEE3F0
        box-sizing: border-box
        border-radius: 2px
        resize: none
    &__img-input
        margin-top: 12px
        position: relative
        border: 10px solid #F0F4FE 
        width: 373px
        height: 373px
   
